<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我要咨询</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="/static/css/mui.css">
    <script src="/static/js/jquery.js"></script>
    <style>
        html, body {
            background-color: #FFFFFF;
        }

        .img {
            margin-top: 30px;
            text-align: center;
            padding: 10px;
        }

        .btn {
            text-align: center;
            margin-top: 30px;
        }

        .btn .mui-btn {
            width: 50%;
        }
    </style>
</head>
<body>
<div class="img">
    <img src="/static/img/consult.png" width="80%"/>
</div>
<div class="btn">
    <button type="button" class="mui-btn mui-btn-primary" onclick="sub();">我要咨询</button>
</div>
<div class="btn">
    <button type="button" class="mui-btn mui-btn-primary" onclick="his()">查看历史咨询记录</button>
</div>
<script>
    $(function () {
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
            });
        }
        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    });
    var openId = {{.openId}};

    function sub() {
        window.location = '/consult/form?openId=' + openId;
    }

    function his() {
        window.location = '/consult/history?openId=' + openId;
    }
</script>
</body>
</html>