<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>狮山印象</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="/static/css/ydui.css"/>
    <script src="/static/js/ydui.flexible.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/ydui.js"></script>
    <style>
        body {
            padding: 10px;
        }

        .item {
            border: 1px solid #e1e1e1;
            padding: 8px;
        }

        .item + .item {
            margin-top: 10px;
        }

        .item .item-img {
            width: 100%;
        }

        .item .item-lable {
            text-align: center;
            background-color: #01AAED;
            padding: 8px;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
<div class="cus-list">
    <div class="item">
        <img class="item-img" src="/static/img/1.jpg">
        <div class="item-lable">社区妇儿之家</div>
    </div>
    <div class="item">
        <img class="item-img" src="/static/img/2.jpg">
        <div class="item-lable">苏州图书馆狮山分馆</div>
    </div>
</div>
</body>
</html>